input,
label {
  display: block;
}
form {
  margin: 0 auto;
  width: 250px;
}

.submissionfield {
  width: 20vw;
  height: 10px;
  border: 1px solid #999999;
  padding: 5px;
}
.message {
  width: 20vw;
  height: 5vw;
  border: 1px solid #999999;
  padding: 5px;
}
